.screen-style {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    min-width: 100vh;
    background-color: #32CCB9;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(44,44,121,1) 35%, rgba(0,212,255,1) 100%);
// background-image: url("https://wallpaperaccess.com/full/1092563.jpg");
    // background-image: url("../../background.jpg");
}
.form-style {
    padding-top: 10px;
    background-color: rgb(255, 255, 255);
    display: block;
    width: 50rem;
    height: fit-content;
    border-radius: 10px;
    padding: 20px;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.footer {
    padding-top: 20px;
    padding-bottom: 20px;
}
.heading {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.form-fields {
    text-align: left;
    font-size: medium;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.form-fields-desc {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    font-size: smaller;
    padding-bottom: 30px;
}
.semi-header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}
.logout {
    font-weight: bold;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.button-toggle {
    text-align: left;
}
.b1 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: fit-content;
    text-align: left;
    align-items: left;
    float: left;
}
.b2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: fit-content;
    text-align: left;
    align-items: left;
}
.b1-active {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: fit-content;
    text-align: right;
    align-items: right;
    text-decoration: underline;
     border: 3rem rgb(255, 255, 255);
     font-weight: bold;
}
.b2-active {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: fit-content;
    text-align: left;
    align-items: left;
    text-decoration: underline;
     border: 3rem rgb(255, 255, 255);
     font-weight: bold;
}
.bx--btn {
    max-width: 30rem;
    display: inline;
    padding: 10px;
}
.bx--btn--primary {
    background-color: rgb(255, 255, 255);
    color: black;
}
.bx--btn--primary:hover{
    text-decoration: underline;
    color: black;
    background-color:  rgb(255, 255, 255);
} 
.bx--btn--primary:focus 
 {
     border: 3rem rgb(255, 255, 255);
  }

  .first-row, .semi-header, .bx--table-body, .bx--table-row, .bx--parent-row, .bx--parent-row--even, .bx--data-table tbody, .bx--data-table-header, .bx--expandable-row-v2{
    outline: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    fill: rgb(255, 255, 255);
    border: rgb(255, 255, 255);
}

.first-row:hover{
    outline: 1px solid rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
}
.login {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: right;
    font-weight: bold;
}
.submit {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    float: right;
    text-align: right;
    width: fit-content;
    font-weight: bold;
}
.bx--modal-container {
    width: 25%;
    height: 30%;
    border-radius: 10px;
    position: absolute;
    top: 10%;
    left: 40%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
}
.blank_form {
    color: red($color: #FF0000);
    text-decoration: red($color: #FF0000);
    background-color: #FEB4B4;
}
.bx--data-table td, .bx--data-table tbody th {
    background: white;
    background-color: white;
    color: black;
    padding: 0em;
    border-top: 1px solid white;
    border-top-color: white;
    border-bottom-color: white;
}
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
  .tooltiptext {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
  }
//   .bx--toast-notification__close-button{
//       background-image: url("../../close-button.png");
//   }
