echo 'SCRIPT VERSION : {{.values.sailfish.version}}'

echo 'installing sailfish component 1'

{{- range $machine := .values.sailfish.machines}}
echo 'installing on {{$machine}}'
echo ...
sleep 1
{{- end}}